---
- name: Install Clickhouse
  hosts: clickhouse
  tasks:
    - block:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/{{ item }}-{{ clickhouse_version }}.x86_64.rpm"
            dest: "./{{ item }}-{{ clickhouse_version }}.rpm"
          with_items: "{{ clickhouse_packages }}"
          check_mode: false
      rescue:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/clickhouse-common-static-{{ clickhouse_version }}.aarch64.rpm"
            dest: "./clickhouse-common-static-{{ clickhouse_version }}.rpm"
          check_mode: false
    - name: Install clickhouse packages
      become: true
      ansible.builtin.yum:
        name:
          - clickhouse-common-static-{{ clickhouse_version }}.rpm
          - clickhouse-client-{{ clickhouse_version }}.rpm
          - clickhouse-server-{{ clickhouse_version }}.rpm
        disable_gpg_check: true
      notify: Start clickhouse service
    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
    - name: Create database
      ansible.builtin.command: "clickhouse-client -q 'create database logs;'"
      register: create_db
      failed_when: create_db.rc != 0 and create_db.rc !=82
      changed_when: create_db.rc == 0
  handlers:
      - name: Start clickhouse service
        become: true
        ansible.builtin.service:
          name: clickhouse-server
          state: restarted

- name: Install Vector
  hosts: vector
  tasks:
    - name: Install Vector
      become: true
      ansible.builtin.yum:
        name: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm"
        state: present
    - name: Vector config
      ansible.builtin.template:
        src: vector.yml.j2
        dest: vector.yml
        mode: "0644"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
        validate: vector validate --noenvironment --config-yaml %s
    - name: Vector service
      become: true
      ansible.builtin.template:
        src: vector.service.j2
        dest: /etc/systemd/system/vector.service
        mode: "0644"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      notify: Start Vector service

  handlers:
    - name: Start Vector service
      become: true
      ansible.builtin.systemd:
        name: vector
        state: started
        daemon_reload: true

- name: Install nginx
  hosts: lighthouse
  handlers:
    - name: Start nginx
      become: true
      command: nginx
    - name: Restart nginx
      become: true
      command: nginx -s reload
  tasks:
    - name: Add epel-release repo
      becoe: true
      ansible.builtin.yum:
        name: epel-release
        state: present
    - name: Install nginx
      becoe: true
      ansible.builtin.yum:
        name: nginx
        state: present
      notify: Start nginx
    - name: Copy config nginx
      template:
        src: template/nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        mode: "0644"
      notify: Restart nginx

- name: Install Lighthouse
  hosts: lighthouse
  handlers:
    - name: Restart nginx
      become: true
      command: nginx -s reload
  pre_tasks:
    - name: Install Git
      become: true
      ansible.builtin.yum:
        name: Git
        state: present
  tasks:
    - name: Install Lighthouse
      git:
        repo: "{{ lighthouse_repo }}"
        version: master
        dest: "{{ lighthouse_dir_location }}"
    - name: Lighthouse config
      become: true
      template:
        src: lighthouse.conf.j2
        dest: /etc/nginx/conf.d/default.conf
        mode: "0644"
      notify: Restart nginx
